<mat-toolbar color="secondary" class="header mat-elevation-z4">
    <mat-toolbar-row>
        <span>
            <a class="itens-icones" href="">
                <img src="../../../../assets/logo.png" alt="logo">
            </a>
        </span>
        <span class="title-group">
            <a class="itens-icones icone-dashboard">
                <i class="material-icons">
                    home
                </i>
                {{nome}}
            </a>
        </span>
        <span class="space"></span>
      
    </mat-toolbar-row>
</mat-toolbar>