.space {
    flex: 1 1 auto;
}

a {
    img {
        max-width: 100%;
        width: 200px;
    }

    &.itens-icones{
        display: flex;
        align-items: center;
    }

    &.icone-dashboard{
        padding-left: 25px;
    }
}


