.footer {
    span {
        &.span-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 5px;
        }
    }
    .mat-18{
        color: red;
    }
}
